body {
  background: #f0ecff;
}

.add__post__bttn {
  position: fixed;
  bottom: 30px;
  right: 60px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  height: 100px;
  width: 100px;
  background: rgba(128, 128, 128, 0.447);
  border-radius: 20px;
}

/* START LOADER */

.lds-default,
.lds-default div {
  box-sizing: border-box;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-default div {
  position: absolute;
  width: 6.4px;
  height: 6.4px;
  background: white;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 36.8px;
  left: 66.24px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22.08px;
  left: 62.29579px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11.30421px;
  left: 51.52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7.36px;
  left: 36.8px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11.30421px;
  left: 22.08px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22.08px;
  left: 11.30421px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 36.8px;
  left: 7.36px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 51.52px;
  left: 11.30421px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62.29579px;
  left: 22.08px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66.24px;
  left: 36.8px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62.29579px;
  left: 51.52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 51.52px;
  left: 62.29579px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* END LOADER */

/* RESPONSEVE DISING */
@media screen and (max-width: 1000px) {
  /* body {
    background-color: yellow;
  } */
  .card-header {
    display: flex;
    flex-direction: column;
  }
  .delete-button {
    margin: 16px 0;
    width: 100%;
  }
  .main-info {
    flex-direction: column;
  }
  #main-infor {
    margin-top: 16px;
    width: 100%;
  }
  #header-image {
    width: 100px;
    height: 100px;
  }
  .card {
    padding: 20px 15px;
  }
  #success-alert {
    width: 80% !important;
    color: red;
  }
}
@media screen and (max-width: 400px) {
  .card-header {
    display: flex;
    flex-direction: column;
  }
  .delete-button {
    margin: 16px 0;
    width: 100%;
  }
  .main-info {
    flex-direction: column;
  }
  #header-image {
    width: 100px;
    height: 100px;
  }
  #success-alert {
    width: 100%;
  }
}
